<h1> Add an employee! </h1>

<%= form_for @employee do |f| %>

	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.label "position" %>
		<%= f.collection_radio_buttons(:job_id, current_user.jobs.all, :id, :position) %>
	<div>
		<%= f.submit "Create New Employee" %>
	</div>
<%end%>